@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

.heading {
  display: flex;
  flex-direction: column;

  width: 1920px;

  height: 52px;
  
  background: #F5F5F5;

  justify-content: space-between;
  justify-content: center;
  align-items: center;

  /* padding-left: 20px;
    padding-right: 20px; 
    padding-top: 5px;
    padding-bottom: 5px; */
}
.innerheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: rgb(248, 244, 251);
  width: 1653px;
  height: 31px;
}
.hleft {
  display: flex;
  align-items: center;
  width: 1635px;
  height: 31px;
  gap: 13px;
}
.imgx {
  display: flex;
  flex-direction: column;

  position: static;
  width: 23.22px;
  height: 23.22px;
}
.hright {
  width: 655px;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.phone {
  width: 221px;
  height: 31px;
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 14px;
  font-weight: 400;
  line-height: 30.8px;
  text-align: left;
}
.email {
  display: flex;
  align-items: center;
  width: 401px;
  height: 31px;
  display: flex;
  gap: 4px;

  font-size: 14px;
  font-weight: 400;
  line-height: 30.8px;
  text-align: left;
}
.img2 {
  display: flex;
  flex-direction: column;

  width: 19px;
  height: 15.38px;
  position: static;
}

.img3 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 293px;
  height: 76px;
  top: 65px;
  left: 123px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}
.p4{
  justify-content: end;
  color: #17C1A3;
  text-decoration: underline;
}
.sec1 {
  display: flex;
  background-color: rgb(223, 40, 16);
  flex-direction: column;
  justify-content: space-between;
  /* flex-direction: column; */
}

.nav1 {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 1227px;
  height: 28px;
  top: 89px;
  left: 567px;
  gap: 60px;
  opacity: 0px;
  position: absolute;
}
#img4 {
  width: 1670px;
  height: 794px;
  top: 154px;
  left: 125px;
  gap: 0px;
  border-radius: 6px 0px 0px 0px;
  opacity: 0px;
  position: absolute;
}

.boxmain {
  width: 520px;
  height: 270px;
  top: 321px;
  left: 284px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}
.box1 {
  width: 520px;
  height: 160px;
  /* top: 321px;
left: 284px; */
  gap: 0px;
  opacity: 0px;

  font-size: 65px;
  font-weight: 700;
  line-height: 79.64px;
  letter-spacing: 0.02em;
  text-align: left;
  position: relative;
}
.box2 {
  width: 459px;
  height: 80px;
  top: 511px;
  left: 284px;
  gap: 0px;
  opacity: 0px;
  font-size: 22px;
  font-weight: 400;
  line-height: 39.6px;
  letter-spacing: 0.02em;
  text-align: left;
}
.box3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 437px;
  height: 59px;
  top: 625px;
  left: 284px;
  gap: 0px;
  border-radius: 6px 0px 0px 0px;
  opacity: 0px;
  /* background-color: blue; */
  position: relative;
}
.box32 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 149px;
  height: 33.5px;
  top: 638px;
  left: 572px;
  gap: 0px;
  opacity: 0px;
  /* background-color: #4CAF50; */
  /* position: relative; */
}
.box321 {
  width: 31px;
  height: 31px;
  top: 640.5px;
  left: 572px;
  gap: 0px;
  opacity: 0px;
}
.box322 {
  display: flex;
  align-items: center;
  width: 107px;
  height: 32px;
  top: 638px;
  left: 614px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
}
#b1 {
  width: 238px;
  height: 59px;
  top: 625px;
  left: 284px;
  gap: 0px;
  border-radius: 6px;
  border-color: #17c1a3;
  opacity: 0px;
  background-color: #17c1a3;
  /* position: relative; */
}

.forms {
  display: flex;
  justify-content: center;
  width: 1432px;
  height: 284px;
  top: 806px;
  left: 244px;
  gap: 0px;

  border-radius: 12px 12px 12px 12px;
  opacity: 0px;
  position: absolute;
  background-color: white;

  /* background-color: ; */
  align-items: center; /* Center vertically */
  /* Adjust as needed */
}
.formhc {
  width: 1353px;
  height: 211px;
  top: 839px;
  left: 284px;
  gap: 0px;
  border-radius: 6px 6px 6px 6px;
  opacity: 0px;

}
.grid-form {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 71px); /* Height of each box */
  gap: 10px; /* Adjust gap between grid items */
}

.grid-item {
  width: 437px; /* Width of each box */
  height: 71px; /* Height of each box */
}

.button {
  grid-column: span 3; /* Make the button span 3 columns */
}

/* Style for button */
button {
  background: #17C1A3;
  border: none;
  color: white;
  /* padding: 12px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px 5px 5px 5px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Remove default input styles */
input,
select {
  width: 100%;
  height: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px 5px 5px 5px;
  box-sizing: border-box;
}

.department {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 1669px;
  height: 681px;
  top: 1239px;
  left: 126px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  /* background-color: #ccc; */
  position: relative;
}
.dheading {
  display: flex;
  justify-content: space-between;
  width: 1669px;
  height: 94px;
  top: 1239px;
  left: 126px;
  gap: 0px;
  opacity: 0px;
}
.dheadingl {
  width: 266px;
  height: 94px;
  top: 1239px;
  left: 126px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 35px;
  font-weight: 700;
  line-height: 65.73px;
  letter-spacing: 0.02em;
  text-align: left;
}
.dheadingr {
  width: 132px;
  height: 0px;
  top: 1297px;
  left: 1663px;
  gap: 0px;
  border: 1.55px 0px 0px 0px;
  opacity: 0px;
}
.dcontent {
  display: flex;
  justify-content: space-between;
}

.dcontent1 {
  width: 529px;
  height: 537px;
  top: 1383px;
  left: 126px;
  gap: 0px;
  border-radius: 8px 8px 8px 8px;
  opacity: 0px;

}
.dcontent2 {
  width: 528px;
  height: 537px;
  top: 1383px;
  left: 692px;
  gap: 0px;
  border-radius: 8px 8px 8px 8px;
  opacity: 0px;

}
.dcontent3 {
  width: 536px;
  height: 537px;
  top: 1383px;
  left: 1257px;
  gap: 0px;
  border-radius: 8px 8px 8px 8px;
  opacity: 0px;

}

#dimg11 {
  width: 529px;
  height: 327px;
  top: 1383px;
  left: 126px;
  gap: 0px;
  border-radius: 8px 8px 08px 08px;
  opacity: 0px;
}
.dcon1 {
  width: 440px;
  height: 170px;
  top: 1750px;
  left: 126px;
  gap: 0px;
  opacity: 0px;
}
#dimg12 {
  width: 529px;
  height: 327px;
}
.whygg {
  display: flex;
  flex-direction: column;
  align-items: end;


  

  position: absolute;

  width: 1697px;
  height: 770px;
  top: 2145px;
  left: 99px;
  gap: 0px;
  opacity: 0px;
}
.innerwhygg {
    width: 1671px;
    height: 770px;
    top: 2145px;
    left: 125px;
    gap: 0px;
    opacity: 0px;
    background: #E8F9F6;
    
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    /* justify-content: space-between; */
}
.img6{
    width: 1072px;
height: 739px;
top: 2175px;
left: 125px;
gap: 0px;
opacity: 0px;

}
.img3docs{
  width: 1072px;
  height: 739px;
  top: 2175px;
  left: 125px;
  gap: 0px;
  opacity: 0px;
  


  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: -33px;
  
}

.whyggcontent
{
  width: 471px;
  height: 405px;
  top: 2328px;
  left: 1203px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.whyggh{
  margin-top: -20px;
  width: 350px;
  height: 47px;
  top: 2328px;
  left: 1203px;
  gap: 0px;
  opacity: 0px;
  
font-size: 35px;
font-weight: 700;
/* line-height: 46.73px; */
/* letter-spacing: 2%; */
text-align: left;



}
.whyggc{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 471px;
height: 317px;
top: 2416px;
left: 1203px;
gap: 0px;
opacity: 0px;


}
.whyggc1,.whyggc2{
  display: flex;
  align-items: center;
  gap: 10px;

}
.tickimg{
  width: 26px;
height: 26px;
/* top: 2419px;
left: 1203px; */
gap: 0px;
border: 1.5px 1.5px 1.5px 1.5px;
opacity: 0px;

}

.meetspec{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  


  width: 1672px;
height: 798px;
top: 3164px;
left: 124px;
gap: 25px;
opacity: 0px;

position: absolute;

}
.meetheading{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.specimgcon{
  display: flex;
  justify-content: space-between;
  
}

.dname{

font-size: 30px;
font-weight: 600;
line-height: 40.06px;
letter-spacing: 0.02em;
text-align: center;

}
.dcon{
  
  opacity: 50%;
  font-size: 20px;
  font-weight: 400;
  /* line-height: 26.7px; */
  text-align: center;
  margin-top: -20px;
  
}
.viewall{
  display: flex;
  justify-content: center;
  


}

#b3{
  background: #17C1A3;

width: 179px;
height: 55px;
top: 3907px;
left: 871px;
gap: 0px;
border-radius: 6px 6px 6px 6px;
opacity: 0px;

}
#p5{


font-family: Inter;
font-size: 18px;
font-weight: 500;
/* line-height: 32.4px; */
text-align: center;


}
.interestcontent a{
  color:#17C1A3;
  text-decoration: none;
}
.facact{
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
  width: 1669px;
height: 440px;
top: 4215px;
left: 127px;
gap: 0px;
opacity: 0px;




  position: absolute;

}

.facacthead{
  margin-top: 4px;
  width: 436px;
height: 53px;
top: 4215px;
left: 742px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 40px;
font-weight: 700;
line-height: 53.41px;
letter-spacing: 0.02em;
text-align: left;


}
.facactheading{
  display: flex;
  




  

}
.headingr{
  width :100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -65px;


}

.faimg{
  width: 100%;


  display: flex;
  justify-content: space-between;

  


}

.interested{
  width: 1672px;
height: 551px;
top: 4832px;
left: 124px;
gap: 0px;
border-radius: 8px 8px 08px 08px;
opacity: 0px;
position: absolute;
display: flex;
flex-direction: column;

align-items: center;
justify-content: space-between;

}

.interesthead{
  font-family: Inter;
font-size: 26px;
font-weight: 600;
line-height: 34.72px;
text-align: left;

}
.interestcontent{
  font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 35.82px;
letter-spacing: 0.02em;
text-align: left;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 35.82px;
letter-spacing: 0.02em;
text-align: left;
margin-top: -5px;


}

/* .interestbox{
  display: flex;

} */

.intimg1{
  width: 528px;
height: 308px;
top: 4929px;
left: 1265px;
gap: 0px;
border-radius: 8px 08px 08px 08px;
opacity: 0px;


}

.int1{
  width: 526px;
height: 454px;
top: 4929px;
left: 124px;
gap: 0px;
border-radius: 8px 8px 08px 08px;
opacity: 0px;


}

.mask{
  margin-top:
  4800px;
  z-index: 2px;

  background-color: white;
  width:1800px;
  height: 300px;
  margin-left: 60px;
  background-image: url("assets/image\ 17\ \(2\).png");
  background-repeat: no-repeat;
}
.subscribeouter{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1656px;
height: 323px;
top: 5561px;
left: 133px;
gap: 0px;
opacity: 0px;
/* background-color: white; */



position: absolute;


}

.subinner{

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1424px;
height: 90px;
top: 5682px;
left: 248px;
gap: 0px;
border-radius: 6px 0px 0px 0px;


opacity: 0px;

}
.submsg{

  width: 348px;
height: 90px;
top: 5682px;
left: 248px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 44.71px;
letter-spacing: 0.02em;
text-align: left;

}
.emailpart{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom:1px solid #211E1E;;

  

  width: 576px;
height: 64px;
top: 5690px;
left: 1096px;
gap: 0px;
border-radius: 6px 6px 6px 6px;
opacity: 0px;

}

.idpart{
  margin-top: -5px;
  width: 382px;
height: 45px;
top: 5695px;
left: 1096px;
gap: 0px;
opacity: 30%;

}

.subbutton{
  margin-top: -5px;

  width: 154px;
height: 55px;
top: 5690px;
left: 1518px;
gap: 0px;
border-radius: 6px 06px 06px 06px;
opacity: 0px;


}

.subbg{
  width: 1920px;
height: 959px;
top: 5046px;
gap: 0px;
opacity: 0px;
background: #EAF2FF;
position: absolute;
z-index: -1;

}



.footer{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 70px;
  width: 1923px;
height: 554px;
top: 6005px;
left: -3px;
gap: 0px;
opacity: 0px;
position: absolute;

}
.footer-container{
  display: flex;
  justify-content:space-between;
}
.footer-logo{
  width: 300px;
}
.footer-logo img{
  width: 200px;
}
.footer-logo p{
  font-size: 10px;
  width: 270px;
  line-height: 18px;
}
.about{
  display: flex;
}
.legal{
  display: flex;
}
.about-sec{
  margin-left: 140px;
}
.about{
  margin-left: -40px;
  font-size: 12px;
}
.about ul{
  list-style-type: none;
}
.about li{
  padding-bottom: 20px;
  cursor: pointer;
}
.legal-sec{
  margin-left: 110px;
}
.legal{
  margin-left: -40px;
  font-size: 12px;
}
.legal ul{
  list-style-type: none;
}
.legal li{
  padding-bottom: 20px;
  cursor: pointer;
}
.footer-container2{
  display: flex;
  justify-content: space-between;
}
.footer-home{
  display: flex;
}
.footer-call{
  display: flex;
}
.footer-mail{
  display: flex;
}
.footer-social{
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.footer-social h5{
  margin-bottom: 0px;
  margin-left: -3px;
}
.footer-container2 img{
  
  height: 15px;
  padding-right: 10px;
}
.footer-container2 p{
  font-size: 10px;
  line-height: 18px;
  margin-top: 16px;
}
.icons{
  height: 18px;
  cursor: pointer;
}
.footer-copy{
  display: flex;
  justify-content: center;
}
.footer-copy p{
  font-size: 10px;
  padding: 10px;
  margin-top: 20px;
}
.img8{
  margin-top: 20px;

  width: 19px;
height: 15.38px;
top: 6374.81px;
left: 989px;
gap: 0px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;

}
.icons{

  margin-top: 5px;
}
 